h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: $heading-font;
  font-weight: 700;
}

h1 {
  @include h2;

  @include breakpoint('tablet') {
    font-size: 32px;
  }

  @include breakpoint('desktop') {
    @include h1;
  }

  &.display {
    @include h1_display;
  }
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5,
h6 {
  @include h5;
}

h1,
h2,
h3 {
  + p {
    margin-top: space(2);
  }
}

h4,
h5 {
  + p {
    margin-top: space();
  }
}

p,
li {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.8;

  &.caption {
    font-size: 12px;
  }

  &.small {
    font-size: 14px;
  }

  &.large {
    font-size: 20px;
    line-height: 1.5;
  }
}

.block {
  p {
    &:not(:last-child) {
      margin-bottom: 1.6em;
    }
  }
}

a {
  color: $color__primary;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration: none;
  }

  outline: none;

  &:focus-visible {
    outline: 4px solid $focus-ring;
    outline-offset: 0;
    border-radius: 4px;
  }
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

ul,
ol {
  li {
    margin-bottom: 10px;
  }
}

ul {
  padding-left: 18px;

  li {
    position: relative;

    &:before {
      content: '\25A0';
      color: inherit;
      position: absolute;
      left: -20px;
      font-size: 1em;
    }
  }
}

ol {
  list-style: decimal;
  list-style-position: inside;
}
