// Breakpoints Mixins
///////////////////////////////////////////////
$breakpoint__mobile: 576px;
$breakpoint__tablet: 768px;
$breakpoint__tablet-lg: 900px;
$breakpoint__desktop: 1200px;
$breakpoint__desktop-lg: 1600px;

$container__mobile: 100%;
$container__tablet: 720px;
$container__tablet-lg: 840px;
$container__desktop: 1140px;
$container__desktop-lg: 1380px;

$breakpoint: 0;
@mixin breakpoint($size, $max: null) {
  @if $size == 'desktop-lg' {
    $breakpoint: 1600 !global;
  }
  @if $size == 'desktop' {
    $breakpoint: 1200 !global;
  }
  @if $size == 'tablet-lg' {
    $breakpoint: 900 !global;
  }
  @if $size == 'tablet' {
    $breakpoint: 768 !global;
  }
  @if $size == 'mobile' {
    $breakpoint: 576 !global;
  }
  @if type-of($size) == 'number' {
    $breakpoint: $size !global;
  }

  @if $max {
    @media screen and (max-width: #{$breakpoint - 1}px) {
      @content;
    }
  }
  @if not $max {
    @media screen and (min-width: #{$breakpoint}px) {
      @content;
    }
  }

  @if $size !=
    'desktop-lg' and
    $size !=
    'desktop' and
    $size !=
    'tablet-lg' and
    $size !=
    'tablet' and
    $size !=
    'mobile' and
    type-of($size) !=
    'number'
  {
    @error "Must enter a breakpoint value: mobile, tablet, tablet-lg, desktop, or desktop-lg -- or enter a unitless number value";
  }

  @if $max != 'max' and $max != null {
    @error "Property needs a variable of 'max'";
  }
}
