// Type
///////////////////////////////////////////////
$body-font: Inter, sans-serif;
$heading-font: 'Poppins', sans-serif;

// Font Weights
$body-regular: 400;
$body-bold: 600;

// Buttons
///////////////////////////////////////////////
$btn_height--small: 32px;
$btn_height--regular: 40px;
$btn_height--large: 60px;
$btn_gap: 24px;

// Header
///////////////////////////////////////////////
$header-height: 55px;
$header-height-desktop: 80px;

$in-out-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
$transition-smooth: 0.8s cubic-bezier(0.2, 0, 0, 1);
